.vscode
build/GuessForm,ffb
build/Licence,fff
build/ReadMe,fff
build/!Index/!Help,ffb
build/!Index/!RunImage,ffb
build/!Index/Code,ffd
build/!Index/Resources/UK/HelpText,fff
build/!Index/Resources/UK/Index,3d6
build/!Index/Resources/UK/Menus,ffd
build/package
